@model Hookmeup.Models.UserModel

@{
    ViewBag.Title = "ChangePassword";
   
}

<h2>ChangePassword</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserModel</legend>

        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model=>model.newPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model=>model.newPassword)
            
        </div>

      

        <p>
            <input type="submit" value="ChangePassword" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
